* {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
   }

/* Header for the page */

  .header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px;
     }

  .header a {
    float: left;
    color: black;
    text-align: center;
    padding: 1.25rem;
    text-decoration: none;
    font-size: 1.85rem;
    line-height: 2.25rem;
    border-radius: 0.25rem;
    padding-right: 2.5rem;
    padding-left: 2.5rem;
    font-family: sans-serif;
    font-weight: bold;
  }

  .header a.logo {
    font-size: 1.9rem;
    font-weight: bold;

  }

  .header a:hover {
    background-color: #ddd;
    color: black;
  }

  .header a.active {
    border-bottom: 0.3rem solid green;
    color: black;
  }

  .header-right {
    float: right;
  }

  /* Media queries for header */

  @media screen and (max-width: 700px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }

    .header-right {
      float: none;
    }
  }

/* Used in this page to enable scrolling */

  .scrollbar {
    padding: 1rem;
    margin-top: 1.9rem;
    height: 125rem;

  }

  /*search bar*/

  .box {
    background-color: #144BD9;
    width: 95.5%;
    height: 14rem;
    border-radius: 2.2rem;
    padding: 2.8rem 3.8rem;
    margin: 3.2rem 3.2rem;
  }

  .name,
  .employeeid,
  .email {
    float: left;
    margin-right: 2rem;
  }

  .search, .clear {
    font-weight: bold;
    border: 0.8rem solid white;
    border-radius: 3.3rem;
    background-color: white;
    padding: 1.5rem 2.5rem;
    font-size: 1.9rem;
    cursor: pointer;
    float: right;
    color: dodgerblue;
    border-color: #2196F3;
    text-align: center;
    margin: 0.9rem;
  }
   
  label {
    width: 100%;
    padding-left: 1rem;
    color: white;
    font-size: 1.85rem;
  }
     
  input[type=text] {
    width: 25rem;
    height: 3.9rem;
    font-size: 2rem;
    margin: 0.7rem 1.2rem;
    box-sizing: border-box;
    margin-bottom: 0.7rem;
 }
   input,
   label {
    display: block;
  }

/*searchbar media query*/

  @media screen and (max-width: 810px) {
    .box {
      padding-top: 2.2rem;
      margin-left: 2%;
      height: 43rem;
      padding-left: 3%;
    }
    div.name,
    .employeeid {
      width: 93%;
    }
    .email {
      width: 93%;
      margin-right: 2rem;
    }
    .search,
    .clear {
      margin-left: 1.5%;
      margin-top: 2.4rem;
     }
    input,
    label {
      display: block;
      margin-right: 1rem;
    }
    input[type=text] {
      width: 105%;
      height: 3.2rem;
    }
    input[type=button] {
      width: 98%;
      height: 3.2rem;
      justify-content: center;
      line-height: 0.5rem;

    }
  }

  @media only screen and (min-device-width: 811px) and (max-device-width: 1200px) {
    .box {
      width: 92%;
      margin-left: 5%;
      height: 24rem;
    }
    input[type=text] {
      height: 3.3rem;
    }
    .name,
    .employeeid {
      padding-left: 0.5rem;
    }
    .email {
      padding-left: 0.5rem;
      margin-right: 2%;
    }
    input[type=button] {
      width: 30%;
      height: 3.3rem;
      line-height: 0.5rem;
    }
    .search {
      margin-left: 12.5%;
      color: #252BB7;
      font-size: 1.7rem;
    }
    .clear {
      float: right;
      border-radius: 30px;
      color: #252BB7;
      font-size: 20px;
      margin-bottom: 0.5rem;

    }
  }

  /* Code for New Project Button */

.btn1 {
    float: right;
    border-radius: 30px;
}
.button {
    border: 6px solid white;
    border-radius: 30px;
    background-color: white;
    padding: 10px 30px;
    margin-bottom: 1rem;
    margin-top: -1.5rem;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    width: 210px;
    height: 61px;
    float: right;
    color: white;
    background-color: #144BD9;
    text-align: center;
    margin-right: 1.25rem;
  }

/* Code for Table Heading */

h3 {
    margin: .5em 0 .75em;
    font-weight: 700;
    padding-left: 2rem;
}

/* Media query for Table Heading */

@media screen and (max-width: 600px) {
    h3 {
      font-weight: 500;
      font-size: 1.2rem;
    }
}

/* Code for grid */

table {
    width: 98%;
    border-collapse: collapse;
    border: 1px solid #ccc;
    margin-left: 0.6rem;
   }

   tr {
    border: 1px solid #ddd;
    font-family: Arial;
    font-weight: 600;
   }
   th {
    background-color: #C9DAEC;
    color: black;
    font-weight: bold;
    height: 6.3rem;
    }
  td,
  th {
    padding: 1.5rem;
    text-align: left;
  }

  /*Media query for grid*/

  @media only screen and (max-width: 760px) {
    h3 {
      padding-left: 1%;
      font-size: 20px;
    }
  }
  @media only screen and (max-width: 760px) {

    table,
    tbody,
    td,
    tr {
      display: block;
    }
    table {
      border: 0;
    }
    thead tr {
      position: absolute;
      top: -9999;
      left: -9999px;
    }
    tr {
      border-bottom: 0.1rem solid #ccc;
    }
    td {
      border: none;
      padding-left: 50%;
      border-bottom: 0.1rem solid #eee;
      position: relative;
    }
    td:before {
      position: absolute;
      top: 1.5rem;
      left: 0.6rem;
      width: 45%;
      padding-right: 0.9rem;
      white-space: nowrap;
      font-weight: bold;
    }

    td:nth-of-type(1):before {
      content: "S.No";
    }

    td:nth-of-type(2):before {
      content: "NAME";
    }

    td:nth-of-type(3):before {
      content: "EMPLOYEE ID";
    }

    td:nth-of-type(4):before {
      content: "EMAIL";
    }

    td:nth-of-type(5):before {
      content: "PROJECT";
    }

    td:nth-of-type(6):before {
      content: "LOCATION";
    }

}

/* Code for pagination */

    .center {
        text-align: right;
    }
    .pagination {
    display: inline-block;
  }
    .pagination a {
    color: black;
    float: left;
    padding: 0.7rem 1.4rem;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 0.5rem;
  }
    .pagination a.active {
    background-color: #144BD9;
    color: white;
    border: 0.1rem solid #144BD9;
  }

/* Code for Footer */

    .footer {
    height: 10rem;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 3.7rem;
    }