
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family:Arial, Helvetica, sans-serif;
 }

/* Header for the page */

.top-nav {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 2rem 1rem;
  }

.top-nav  a {
  float: left;
  color: black;
  text-align: center;
  padding: 1.25rem;
  text-decoration: none;
  font-size: 1.85rem;
  line-height: 2.25rem;
  border-radius: 0.25rem;
  padding-right: 2.5rem;
  padding-left: 2.5rem;
  font-family: sans-serif;
  font-weight: bold;
  }

.top-nav  a.logo {
  font-size: 1.9rem;
  font-weight: bold;
  }

.top-nav  a:hover {
  background-color: #ddd;
  color: black;
}

.top-nav  a.active {
  
  text-decoration: underline;
  color: black;
  
}

.header-right {
  float: right;
}

.header-right-hamburger {
  display: none;
}

.main-menu{
  display: none;  
  
  a{
    display: none;
  }
}

  /* Media queries for header */

  @media screen and (max-width: 810px) {
    .top-nav {
      padding-left: 1rem;
      margin-bottom: 2rem;
  a {
      display: none;
  }

  .header-right {
    float: right;
    .header-right-hamburger {
        display: inline;
        float: right;
        margin-top: 0.3rem;
        margin-right: -0.2rem;
        font-size: 3.5rem;
        padding-right: 2rem;
    }
}
    }

    .main-menu{
      float: left;
      font-size: 1.3rem;
      margin-bottom: 2.5rem;
      color: black;
      height: 19.5rem;
      width: 100%;
      text-align:left;
      background-color: #f1f1f1;
      a {
        display: block ;
      }
    }
  
    .main-menu-home,.main-menu-about,.main-menu-technology,.main-menu-contact {
      
      font-size: 2rem;
      font-weight:bold;
      padding-top: 1rem;
      padding-left: 1.5rem;
      border-bottom:#dddddd 1px solid;
      color: black;
      padding-bottom: 1rem;
    }

    .main-menu-home:hover{display: block;  
      background:#ffffff;
      
  }
  .main-menu-about:hover{display: block;  
    background:#ffffff;
  }
  .main-menu-technology:hover{display: block;  
    background:#ffffff;
  }
  .main-menu-contact:hover{display: block;  
    background:#ffffff;
  }
} 

/* Used in this page to enable scrolling */

.scroll_bar {
  padding: 1rem;
  margin-top: 1.9rem;
  height: 125rem;
  }

/* Code for search bar*/

.search_bar {
  background-color: #144BD9;
  width: 98%;
  height: 14rem;
  border-radius: 2.2rem;
  padding: 2.5rem 3.8rem;
  margin: 3.4rem 3.2rem;
  padding-left: 3rem;
  margin-left: 1.4rem;
}

.name,
.employeeid,
.email {
  float: left;
  margin-right: 2rem;
}

.search_button, .clear_button {
  font-weight: bold;
  border: 0.6rem solid white;
  border-radius: 3.3rem;
  background-color: white;
  padding: 1.5rem 2.5rem;
  font-size: 1.9rem;
  cursor: pointer;
  float: right;
  color: dodgerblue;
  border-color: #2196F3;
  text-align: center;
  margin: 0.9rem;
  width: 15rem;
  height: 6rem;
  line-height: 0.5rem;
  margin-top: 2rem;
}
 
label {
  width: 100%;
  padding-left: 1rem;
  color: white;
  font-size: 1.85rem;
}

::placeholder{
font-size: 1.5rem;
color: darkgray;
}

.search_button:hover {
  background-color:#eee;
  color: black;
}

.clear_button:hover {
  background-color: #eee;
  color: black;
}
   
input[type=text] {
  width: 25rem;
  height: 3.9rem;
  font-size: 2rem;
  margin: 0.7rem 1.2rem;
  box-sizing: border-box;
  margin-bottom: 0.7rem;
  }
input,
label {
  display: block;
}

/*searchbar media query*/

@media screen and (max-width: 810px) {
  .search_bar {
    padding-top: 2.4rem;
    margin-left: 2%;
    height: 43rem;
    padding-left: 2.7%;
    width: 97%;
    padding-bottom: 2.4rem;
    display: flex;
   
  }
  div.name,
  .employeeid {
    width: 95%;
    margin-bottom: 1.25rem;
  }
  .email {
    width: 95%;
    margin-right: 2rem;
    margin-bottom: 1.5rem;
  }
  .search_button, .clear_button {
    margin-left: 3rem;
    margin-top: 2.4rem;
    width: 95%;
    margin: 1.1rem;
    margin-right: 0.001rem;
  }
  input,
  label {
    display: block;
    margin-right: 1rem;
  }
  input[type=text] {
    width: 105%;
    height: 3.2rem;
  }
  input[type=button] {
    width: 97%;
    height: 4rem;
    line-height: 0.25rem;
  }
}

@media only screen and (min-device-width: 811px) and (max-device-width: 1200px) {

  .search_bar {
    width: 98%;
    margin-left: 1%;
    height: 24rem;
    padding-left: 4rem;
  }
  input[type=text] {
    height: 4.5rem;
    width: 25rem;
  }
  .name,
  .employeeid {
    padding-left: 0.5rem;
  }
  .email {
    padding-left: 0.5rem;
    margin-right: 2%;
  }
  input[type=button] {
    width: 30%;
    height: 5.5rem;
  line-height: 0.6rem;
  margin: 2rem;
  margin-top: 3rem;
  
  }
  .search_button {
    margin-left: 12.5%;
    color: #2196F3;
    font-size: 2rem;
  }
  .clear_button {
    float: right;
    border-radius: 30px;
    color: #2196F3;
    font-size: 20px;
    margin-bottom: 0.5rem;
    
    font-size: 2rem;
  }
}


/* Code for New Project Button */

.btn1 {
  float: right;
  }
.button {
  border: 6px solid white;
  border-radius: 3rem;
  background-color: white;
  padding: 1rem 3rem;
  margin-bottom: 1.5rem;
  margin-top: -1.7rem;
  font-size: 1.6rem;
  font-weight: bold;
  cursor: pointer;
  width: 20rem;
  height: 6rem;
  float: right;
  color: white;
  background-color: #144BD9;
  text-align: center;
  margin-right: 1.25rem;
}

/* Code for Table Heading */

h1{
  margin: .5em 0 .75em;
  font-weight: 600;
  font-family:sans-serif;
  font-size: 2.5rem;
  padding-left: 1.5rem;
}

/* Media query for Table Heading */


@media only screen and (max-width: 375px){
h1 {
  padding-left: 1%;
  font-size: 2.0rem;
  padding-bottom: 2rem;
}

}

/* Code for grid */

table {
  width: 97.9%;
  border-collapse: collapse;
  border: 1px solid #ccc;
  margin-left: 1.20rem;
}
tr {
  border: 0.1rem solid #ddd;
  font-family: Arial;
  font-weight: 600;
 }
th {
  background-color: #C9DAEC;
  color: black;
  font-weight: bold;
  height: 6.3rem;
}
td,
th {
  padding: 1.5rem;
  text-align: left;
}

/*Media query for grid*/

@media only screen and (max-width: 760px) {
  h1 {
    padding-left: 1%;
    font-size: 2.0rem;
  }
}
@media only screen and (max-width: 760px) {
  
  table,
  tbody,
  td,
  tr {
    display: block;
  }
  table {
    border: 0;
    margin-left: 0.3rem;
  }
  thead tr {
    position: absolute;
    top: -9999;
    left: -9999px;
  }
  tr {
    border-bottom: 0.1rem solid #ccc;
  }
  td {
    border: none;
    padding-left: 50%;
    border-bottom: 0.1rem solid #eee;
    position: relative;
  }
  td:before {
    position: absolute;
    top: 1.5rem;
    left: 0.6rem;
    width: 45%;
    padding-right: 0.9rem;
    white-space: nowrap;
    font-weight: bold;
  }
  td:nth-of-type(1):before {
    content: "S.No";
  }
  td:nth-of-type(2):before {
    content: "NAME";
  }
  td:nth-of-type(3):before {
    content: "EMPLOYEE ID";
  }
  td:nth-of-type(4):before {
    content: "EMAIL";
  }
  td:nth-of-type(5):before {
    content: "PROJECT";
  }
  td:nth-of-type(6):before {
    content: "LOCATION";
  }
}

/* Code for pagination */

  .center {
      text-align: right;
  }
  .pagination {
  display: inline-block;
  padding-right: 1.3rem;
}
  .pagination a {
  color: black;
  float: left;
  padding: 0.7rem 1.4rem;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  margin: 0 0.5rem;
}
  .pagination a.active {
  background-color: #144BD9;
  color: white;
  border: 0.1rem solid #144BD9;
}

/* Code for Footer */

  .footer {
  height: 10rem;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  padding: 3.7rem;
  }